<% content_for :styles do %>
  <%= stylesheet_link_tag 'pages/admin/submissions' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>コンテスト名</th>
      <th>問題名</th>
      <th>ユーザー名</th>
      <th>提出時間</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @submissions.each do |submission| %>
        <td><%= submission.contest.name_ja %></td>
        <td><%= submission.problems.name_ja %></td>
        <td><%= submission.user.name %></td>
        <td><%= submission.created_at %></td>
      <% end %>
    </tr>
  </tbody>
</table>
